<!DOCTYPE html>

<html>
	<head>
		<title>Omaha Food Fight</title>
	</head>
	<body>
		<div id="banner">
			<h1>Omaha Food Fight</h1>
		</div>
		
		<div id="columns">
			<div id="side">
				<ul>
					<li><a href="/analytics">Analytics</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>

